@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@*Сохраняем текущую страницу*@
@using ASK.BLL.Helper.Setting
@{Accaunt.CurrentPage = "Charts";}


<div class="container-fluid"
     style=" color: #808080;
            padding: 10px;
          /*  background: #fffffC;*/
            border-radius: 0px;
  /*          box-shadow: 0 0 10px;*/
          /*  box-shadow: inset 0 0 5px;*/
            line-height: 1;
            margin: 0 0 0 0;
            padding: 10px;
            font-size: 94%;
            width: 600px;
            font-family: Times New Roman" , Times, serif; font-size: 20%;">
     
      @*<h4 class="text-center">График концентраций </h4>*@
   
      <canvas id="marksChart" width="600" height="400"></canvas>
      

</div>


<div class="container-fluid"
     style=" color: #808080;
            padding: 10px;
          /*  background: #fffffC;*/
            border-radius: 0px;
  /*          box-shadow: 0 0 10px;*/
          /*  box-shadow: inset 0 0 5px;*/
            line-height: 1;
            margin: 0 0 0 0;
            padding: 10px;
            font-size: 94%;
            font-family: Times New Roman" , Times, serif; font-size: 20%;">

      @*<h4 class="text-center">График концентраций </h4>*@
      <h4 class="text-center">@ViewData["Title"] системы ASK </h4>

       <canvas  id="line" style="  width: 1000px;  height: 130px;"></canvas>

</div>



<script src="~/lib/package/dist/chart.js"></script>
    <script type="text/javascript">
        

     var marksCanvas = document.getElementById("marksChart");

var marksData = {
  labels: ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье"],
  datasets: [{
    label: "Пост 1",
    backgroundColor: "rgba(200,0,0,0.2)",
    data: [65, 75, 70, 80, 60, 80, 54]
  }, {
    label: "Пост 2",
    backgroundColor: "rgba(0,0,200,0.2)",
    data: [54, 65, 60, 70, 70, 75, 32]
  }]
};

var radarChart = new Chart(marksCanvas, {
  type: 'radar',
  data: marksData
});




    </script>


   
    <script type="text/javascript">
        




        var piechart = document.getElementById('line').getContext('2d');
        var mypiechart = new Chart(piechart, {
           
            type: 'line',
            data: {
                 labels: ['14:00', '14:01', '14:02','14:03','14:04','14:05','14:06','14:07','14:08','14:09','14:10','14:11','14:12','14:13','14:14','14:15','14:16','14:17','14:18','14:19','14:20','14:21','14:22','14:23','14:24','14:25','14:26','14:27','14:28','14:29','14:30','14:31','14:32','14:33','14:34','14:35','14:36','14:37','14:38','14:39','14:40','14:41','14:42','14:43','14:44','14:45','14:46','14:47','14:48','14:49','14:50','14:51','14:51','14:53','14:54','14:55','14:56','14:57','14:58','14:59','15:01','15:02','15:03','15:03','15:05','15:06','15:07','15:08','15:09','15:10','15:11','15:12','15:13','15:14','15:15','15:16','15:17','15:18','15:19','15:20','15:21','15:22','15:23','15:24','15:25','15:25','15:27','15:28','15:29','15:30','15:31','15:32','15:33','15:34','15:35','15:36','15:37','15:38','15:39','15:40','15:41','15:42','15:43','15:44','15:45','15:46','15:47','15:48','15:49','15:50','15:51','15:52','15:53','15:54','15:55','15:56','15:57','15:58','15:59','16:00','16:01','16:02','16:03','16:04','16:05','16:06','16:07','16:08','16:09','16:10','16:11','16:12','16:13','16:14','16:15','16:16','16:17','16:18','16:19','16:20','16:21','16:22','16:23','16:24','16:25','16:26','16:27','16:28','16:29','16:30','16:31','16:32','16:33','16:34','16:35','16:36','16:37','16:38','16:39','16:40','16:41','16:42','16:43','16:44','16:45','16:46','16:47','16:48','16:49','16:50','16:51','16:52','16:53','16:54','16:55','16:56','16:57','16:58','16:59','17:00'],
                datasets: [{
                    label: 'CO',
                    data: [Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000)],
                    fill: true,
                    borderColor: "rgba(200,0,0,0.2)",
                    backgroundColor: "rgba(200,0,0,0.2)",
                    tension: 0.1,
                    
                },{
                    label: 'NO',
                    data: [Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300),Math.floor(Math.random(100)*300)],
                    fill: true,
                    borderColor: "rgba(0,0,200,0.2)",
                    backgroundColor: "rgba(0,0,200,0.2)",
                    tension: 0.1,
                }//,{
                //    label: '003',
                //    data: [Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000)],
                //    fill: false,
                //    borderColor: 'rgb(65,70,64)',
                //    tension: 0.1,
                //}
                //,{
                //    label: '004',
                //    data: [Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000), Math.floor(Math.random(1)*1000)],
                //    fill: false,
                //    borderColor: 'rgb(65,70,1)',
                //    tension: 0.1,
                //}


                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        })





    </script>