@{
    ViewData["Title"] = "Home Page";
}

@*Сохраняем текущую страницу*@
@using ASK.BLL.Helper.Setting
@*@{Accaunt.CurrentPage = "Home";}*@

@model LoginViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


