@{
    ViewData["Title"] = "Privacy Policy";
}

@*Сохраняем текущую страницу*@
@using ASK.BLL.Helper.Setting
@*@{Accaunt.CurrentPage = "Home";}*@


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
