
<form method="post"> 
    <input class="btn btn-primary" style="font-family: Times New Roman , Times, serif; font-size: 100%;" type="submit" asp-action="Q32" asp-controller="Settings" value="Включить/Отключить режим вентиляции Q32" />
    <br /><br />
    <br />
    <input class="btn btn-primary" style="font-family: Times New Roman , Times, serif; font-size: 100%;" type="submit" asp-action="Q1" asp-controller="Settings" value="Открыть/Закрыть клапан вентилятора Q1" />
    <br /><br />
    <input class="btn btn-primary" style="font-family: Times New Roman , Times, serif; font-size: 100%;" type="submit" asp-action="Q2" asp-controller="Settings" value="Включить/Отключить вентилятор вентиляции Q2" />
    <br /><br />
    <input class="btn btn-primary" style="font-family: Times New Roman , Times, serif; font-size: 100%;" type="submit" asp-action="Q3" asp-controller="Settings" value="Включить/Отключить подогрев вентилятора Q3" />
    <br /><br />
    <input class="btn btn-primary" style="font-family: Times New Roman , Times, serif; font-size: 100%;" type="submit" asp-action="Q4" asp-controller="Settings" value="Закрыть/Открыть клапан отбора пробы Q4" />
    <br /><br />
    <input class="btn btn-primary" style="font-family: Times New Roman , Times, serif; font-size: 100%;" type="submit" asp-action="Q5" asp-controller="Settings" value=" Включить/Отключить продувку зонда Q5" />
    <br /><br />
    <input class="btn btn-primary" style="font-family: Times New Roman , Times, serif; font-size: 100%;" type="submit" asp-action="Q6" asp-controller="Settings" value="Включить/Отключить калибровку нуля анализатора Q6" />
    <br /><br />
    <input class="btn btn-primary" style="font-family: Times New Roman , Times, serif; font-size: 100%;" type="submit" asp-action="Q7" asp-controller="Settings" value="Включить/Отключить сирену ЗАГАЗОВАННОСТЬ Q7" />
</form>