@{
    ViewData["Title"] = "Состояние";
}


@*Сохраняем текущую страницу*@
@using ASK.BLL.Helper.Setting
@*@{Accaunt.CurrentPage = "States";}*@




<div class="container-fluid"
  style=" color: #808080;
            padding: 10px;
          /*  background: #fffffC;*/
            border-radius: 0px;
  /*          box-shadow: 0 2 8px;*/
          /*  box-shadow: inset 0 0 5px;*/

border-radius: 10px;
            box-shadow: 0 1px 7px;

            line-height: 1;
            margin: 0 0 10px 0;
            padding: 10px;
            font-size: 94%;
            font-family: Times New Roman" , Times, serif; font-size: 20%;">


   <h3 class="text-center">@ViewData["Title"] системы ASK </h3>

   





    @*таблица глобальных аварий системы*@
    <div id="tableGlobalAlarm" style="margin:15px 0 0 0">
        @Html.Partial("~/Views/States/_GlobalAlarmTable.cshtml")
    </div>




</div>



<div class="container-fluid"
      style=" color: #808080;
         
          /*  background: #fffffC;*/
            border-radius: 0px;
       /*     box-shadow: 0 0 5px;*/
          /*  box-shadow: inset 0 0 5px;*/
            border-radius: 10px;
            box-shadow: 0 -1px 7px;
            line-height: 1;
            margin: 0 0 0 0;
            padding: 10px;
            font-size: 94%;
            font-family: Times New Roman" , Times, serif; font-size: 20%;">
    
   

       <h3 class="text-center">Состояния аналитического оборудования</h3>

   

     @*Аварии/Состояния газоаналитического оборудования*@
    <div id="currentDI_DQ" style="margin:15px 0 0 0">
        @Html.Partial("~/Views/States/_CurrentDI_DQ.cshtml")
    </div>





    

    @*таблица глобальных аварий системы*@
    <div id="currentAnalogTable" style="margin:15px 0 0 0">
        @Html.Partial("~/Views/States/_CurrentAnalogTable.cshtml")
    </div>



</div>






  
    <script type="text/javascript">
    
        //Вызываем заготовленные представления, рендарим их и обновляем
        
        //Глобальные аварии
        function GlobalAlarmTable()
        {
             $('#tableGlobalAlarm').load('States/_GlobalAlarmTable');
        }

        //Аварии/Состояния газоаналитического оборудования
        function CurrentDI_DQ() 
        {
            $('#currentDI_DQ').load('States/_CurrentDI_DQ');
        }

        //Аналоги + прямые значения
        function CurrentAnalogTable() 
        { 
            $('#currentAnalogTable').load('States/_CurrentAnalogTable');
        }
       
        //Вызов по интервалу
        setInterval(GlobalAlarmTable, 1000)
        setInterval(CurrentDI_DQ, 1000)
        setInterval(CurrentAnalogTable, 1000)

    </script>



