@{
    ViewData["Title"] = "Состояние";
}


@*Сохраняем текущую страницу*@
@using ASK.Controllers.Setting;
@{Accaunt.CurrentPage = "States";}




<div class="container-fluid"
     style=" color: #808080;
            padding: 10px;
          /*  background: #fffffC;*/
            border-radius: 10px;
       /*     box-shadow: 0 0 10px;*/
            box-shadow: inset 0 2px 15px;
            line-height: 1;
            margin: 0 20px 0 0;
            padding: 10px;
            font-size: 94%;
            font-family: Times New Roman" , Times, serif; font-size: 20%;">


   <h4 class="text-center">@ViewData["Title"] системы ASK </h4>

   





    <div style="margin: 20px 0 0 0">
        <table class="table table-bordered  border-white table-secondary + text-center  " style="  box-shadow: 0 0 1px;  table-layout: fixed;" @*width: 1720px; "*@>


            <tr style="font-weight:bold; ">

                <td style="vertical-align: middle">Связь с контроллером</td> @*style="width: 18rem;"class="table-primary"*@
                <td style="vertical-align: middle">Режим АСК</td>
                <td style="vertical-align: middle">Режим архевирования выбросов АСК</td>
                <td style="vertical-align: middle">Режим работы трубы</td>
                <td style="vertical-align: middle">Приближение к ПДЗ</td>
                <td style="vertical-align: middle">Превышение ПДЗ</td>
                <td style="vertical-align: middle">Наличие аварийных состояний АСК</td>
                <td style="vertical-align: middle">Техобслуживание АСК</td>
                <td style="vertical-align: middle">Дверь контейнера</td>
                <td style="vertical-align: middle">Сигнал пожара</td>
            </tr>


            <tr>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px;">Есть связь с контроллером</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px ">АСК в работе</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Текущие значения выбросов</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В работе, O₂ &#60 20%</td> @*&#60 = <*@
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Нет приближения к ПДЗ</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Превышений нет</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Без аварий</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Техническое обслуживание не выполняется</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Закрыта</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Отсутствует</td>

            </tr>


        </table>
    </div>



</div>
<br />


<div class="container-fluid"
     style=" color: #808080;
            padding: 10px;
    /*        background: #fffffC;*/
            border-radius: 10px;
         /*   box-shadow: 0 0 3px;*/
            box-shadow: inset 0 2px 15px;
            line-height: 1;
            margin: 0 20px 0 0;
            padding: 10px;
            font-size: 94%;
            font-family: Times New Roman" , Times, serif; font-size: 20%;">


       <h4 class="text-center">Состояния аналитического оборудования</h4>

   

    <div style="margin: 20px 0 30px 0">
        <table class="table table-bordered  border-white table-secondary + text-center  " style="  box-shadow: 0 0 1px;  table-layout: fixed;">


            <tr class="fw-bold" style="font-weight:bold; ">
                <td colspan="3" style="vertical-align: middle">Состояние входного напряжения</td> @*style="width: 18rem;"class="table-primary"*@
            </tr>



            <tr>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Напряжение в норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">ИБП запитан</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Блок питания запитан</td>
            </tr>


        </table>
    </div>




    <div style="margin: 0 0 30px 0">
        <table class="table table-bordered  border-white table-secondary + text-center  " style="  box-shadow: 0 0 1px;  table-layout: fixed;">


            <tr class="fw-bold" style="font-weight:bold; ">

                <td style="vertical-align: middle">Расходомер работает</td> @*style="width: 18rem;"class="table-primary"*@
                <td colspan="2" style="vertical-align: middle">Пылемер</td>
                <td colspan="5" style="vertical-align: middle">Газоанализатор BA1</td>
                <td style="vertical-align: middle">Газоанализатор BA2</td>
                <td style="vertical-align: middle">MCU</td>
                <td colspan="2" style="vertical-align: middle">Конвертор NOₓ</td>
            </tr>


            <tr>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Расходомер работает</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Пылемер работает</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Пылемер запитан</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">ВА1 запитан</td> @*&#60 = <*@
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Газоанализатор работает</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Нет запроcа на обслуживание</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Нет обслуживания</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Нет автокалибровки</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">ВА2 запитан</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">MCU запитан</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Конвертор NOₓ запитан</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Температра конвертора NOₓ в норме</td>

            </tr>


        </table>
    </div>




    <div style="margin: 0 0 30px 0">
        <table class="table table-bordered  border-white table-secondary + text-center  " style="  box-shadow: 0 0 1px;  table-layout: fixed;">


            <tr class="fw-bold" style="font-weight:bold; ">

                <td style="vertical-align: middle">Насос газовой пробы</td> @*style="width: 18rem;"class="table-primary"*@
                <td colspan="2" style="vertical-align: middle">Пробоотборный зонд</td>
                <td style="vertical-align: middle">Пробоотборная линия</td>
                <td colspan="2" style="vertical-align: middle">Охладитель</td>
                <td style="vertical-align: middle">Уровень конденсата</td>
                <td style="vertical-align: middle">Клапан калибровки</td>
                <td style="vertical-align: middle">Клапан продувки</td>
                <td style="vertical-align: middle">Клапан пробы АСК</td>
            </tr>


            <tr>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Есть команда на запуск насоса</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Зонд запитан</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Зонд работает</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Пробоотборная линия запитана</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Охладитель запитан</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Охладитель работает</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Уровень конденсата в норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Клапан закрыт</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Клапан закрыт</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">Клапан открыт</td>

            </tr>


        </table>
    </div>





    <div>
        <table class="table table-bordered  border-white table-secondary + text-center  " style="  box-shadow: 0 0 1px;  table-layout: fixed;">


            <tr class="fw-bold" style="font-weight:bold; ">

                <td rowspan="2" style="vertical-align: middle">Состояние аналоговых сигналов датчиков (4-20 мА):</td> @*style="width: 18rem;"class="table-primary"*@
                <td style="vertical-align: middle">CO</td>
                <td style="vertical-align: middle">CO₂</td>
                <td style="vertical-align: middle">SO₂</td>
                <td style="vertical-align: middle">Тв.ч.</td>
                <td style="vertical-align: middle">O₂(сух.)</td>
                <td style="vertical-align: middle">O₂(вл.)</td>
                <td style="vertical-align: middle">O₂(вл.)</td>
                <td style="vertical-align: middle">Давление</td>
                <td style="vertical-align: middle">Температура</td>
                <td style="vertical-align: middle">Скорость</td>
                <td style="vertical-align: middle">Давление КИП</td>
                <td style="vertical-align: middle">Температура конвертра NOₓ</td>
                <td style="vertical-align: middle">Расход пробы</td>
            </tr>



            <tr>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>
                <td style="vertical-align: middle; background: #f5f5f5; box-shadow: inset 0 0 1px">В норме</td>

            </tr>


        </table>
    </div>





</div>









